.product-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 20px 20px 0 0;
  margin: 16px 8px 0 8px; 
  background-color: rgb(252, 183, 190);
  color: rgb(248, 5, 195);
}

.product-card-body img {
  width: 220px;
  height: 280px;
  object-fit: cover;
  margin-bottom: 8px;
  border-radius: 10%;
}

.product-card-body h3 {
  margin-bottom: 8px;
  font-size: 30px;
}

.product-card-body p {
  margin-bottom: 8px;
  font-size: 20px;
}

.product-card-body .product-card-price {
  margin-left: auto; 
  font-weight: bold;
  color: rgb(20, 20, 65);
  font-size: 33px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 8px 8px 8px;
}

.rounded-button {
  border: none;
  border-radius: 0 0 20px 20px;
  padding: 8px 16px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}

.button-1 {
  width: 35%;
  background-color: rgb(252, 183, 190);
}

.button-2 {
  width: 65%;
  /* background-color: rgb(248, 5, 195); */
  background-image: linear-gradient(to bottom, #ccc, #fa0ce6);
  font-size: 28px;
}

.rounded-button:hover {
  background-color: #999;
}

.button-line {
  display: inline-block;
  height: 1px;
  color: rgb(27, 26, 75);
}

/* .button-line:first-child {
  position: absolute;
  top: 46%;

}

.button-line:last-child {
  position: absolute;
  top: 48%;
} */