/* responsive.css */

@media (min-width: 768px) {
    .product-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    .product-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1200px) {
    .product-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }